extends layout
block content
  div(class="container-fluid")
    h1= title
  - let results=[{material:"Gold",style:"Vintage",price:500},{material:"Diamond",style:"Modern",price:800},{material:"Silver",style:"Braclet",price:390}] 
    div(class="row")
      each form,index in results
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.material}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.style}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.price}
        hr
    script.     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }